.elementor-12
  .elementor-element.elementor-element-6ba7cfc
  .banner__feature-image {
  margin: 0px -150px 0px 0px;
}
.elementor-12
  .elementor-element.elementor-element-6ba7cfc
  .elementor-repeater-item-f67baf5
  .inner {
  opacity: 0.6;
}
.elementor-12
  .elementor-element.elementor-element-6ba7cfc
  .elementor-repeater-item-e525aa1
  .inner {
  opacity: 0.6;
}
.elementor-12
  .elementor-element.elementor-element-6ba7cfc
  .elementor-repeater-item-befb875
  .inner {
  opacity: 0.6;
}
.elementor-12
  .elementor-element.elementor-element-6ba7cfc
  .elementor-repeater-item-171cee9
  .inner {
  opacity: 0.6;
}
.elementor-12
  .elementor-element.elementor-element-6ba7cfc
  .elementor-repeater-item-8158c85
  .inner {
  opacity: 0.6;
}
.elementor-12
  .elementor-element.elementor-element-6ba7cfc
  .elementor-repeater-item-1dd21d1
  .inner {
  opacity: 0.6;
}
.elementor-12
  .elementor-element.elementor-element-1ef5f6f
  > .elementor-container {
  max-width: 1200px;
}
.elementor-12
  .elementor-element.elementor-element-1ef5f6f:not(.elementor-motion-effects-element-type-background),
.elementor-12
  .elementor-element.elementor-element-1ef5f6f
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: #f8f9fa;
}
.elementor-12 .elementor-element.elementor-element-1ef5f6f {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  padding: 112px 0px 92px 0px;
}
.elementor-12
  .elementor-element.elementor-element-1ef5f6f
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-12
  .elementor-element.elementor-element-f5aa5eb
  > .elementor-element-populated {
  padding: 0px 0px 0px 0px;
}
.elementor-12 .elementor-element.elementor-element-5a27276 .section-heading {
  text-align: center;
  margin-bottom: 42px;
}
.elementor-12
  .elementor-element.elementor-element-2d33334
  > .elementor-container {
  max-width: 1200px;
}
.elementor-12
  .elementor-element.elementor-element-602d9ad
  > .elementor-element-populated {
  padding: 0px 15px 0px 15px;
}
.elementor-12
  .elementor-element.elementor-element-3500d6b.tt-equal-height-enable,
.elementor-12
  .elementor-element.elementor-element-3500d6b.tt-equal-height-enable
  .elementor-widget-container,
.elementor-12
  .elementor-element.elementor-element-3500d6b.tt-equal-height-enable
  .tt-icon-box {
  height: 100%;
}
.elementor-12
  .elementor-element.elementor-element-3500d5b.tt-equal-height-enable,
.elementor-12
  .elementor-element.elementor-element-3500d5b.tt-equal-height-enable
  .elementor-widget-container,
.elementor-12
  .elementor-element.elementor-element-3500d5b.tt-equal-height-enable
  .tt-icon-box {
  height: 100%;
}
.elementor-12 .elementor-element.elementor-element-3500d6b .tt-icon-box {
  text-align: left;
  padding: 40px 30px 40px 30px;
  border-radius: 15px 15px 15px 15px;
  border-style: solid;
  border-width: 2px 2px 2px 2px;
  border-color: #bf4b4b;
}
.elementor-12 .elementor-element.elementor-element-3500d5b .tt-icon-box {
  text-align: left;
  padding: 40px 30px 40px 30px;
  border-radius: 15px 15px 15px 15px;
  border-style: solid;
  border-width: 2px 2px 2px 2px;
  border-color: #74b539;
}
.elementor-12 .elementor-element.elementor-element-3600d5b .tt-icon-box {
  text-align: left;
  padding: 40px 30px 40px 30px;
  border-radius: 15px 15px 15px 15px;
  border-style: solid;
  border-width: 2px 2px 2px 2px;
  border-color: #74b539;
}
.elementor-12
  .elementor-element.elementor-element-3500d6b
  .tt-icon-box__icon-container {
  font-size: 25px;
  padding: 15px;
}
.elementor-12
  .elementor-element.elementor-element-3500d6b
  .tt-icon-box__icon-container
  i {
  transform: rotate(0deg);
}
.elementor-12 .elementor-element.elementor-element-3500d6b .tt-icon-box:hover {
  background-color: #ffffff;
  border-style: solid;
  border-color: #ffffff;
  box-shadow: 0px 40px 40px 0px rgba(0, 0, 0, 0.1);
  transform: translateY(-5px);
}
.elementor-12
  .elementor-element.elementor-element-3500d6b
  > .elementor-widget-container {
  padding: 0px 0px 0px 0px;
}
.elementor-12
  .elementor-element.elementor-element-3500d5b
  .tt-icon-box__icon-container {
  font-size: 25px;
  padding: 15px;
}
.elementor-12
  .elementor-element.elementor-element-3500d5b
  .tt-icon-box__icon-container
  i {
  transform: rotate(0deg);
}
.elementor-12 .elementor-element.elementor-element-3500d5b .tt-icon-box:hover {
  background-color: #ffffff;
  border-style: solid;
  border-color: #ffffff;
  box-shadow: 0px 40px 40px 0px rgba(0, 0, 0, 0.1);
  transform: translateY(-5px);
}
.elementor-12
  .elementor-element.elementor-element-3500d5b
  > .elementor-widget-container {
  padding: 0px 0px 0px 0px;
}
.elementor-12
  .elementor-element.elementor-element-3600d5b
  .tt-icon-box__icon-container {
  font-size: 25px;
  padding: 15px;
}
.elementor-12
  .elementor-element.elementor-element-3600d5b
  .tt-icon-box__icon-container
  i {
  transform: rotate(0deg);
}
.elementor-12 .elementor-element.elementor-element-3600d5b .tt-icon-box:hover {
  background-color: #ffffff;
  border-style: solid;
  border-color: #ffffff;
  box-shadow: 0px 40px 40px 0px rgba(0, 0, 0, 0.1);
  transform: translateY(-5px);
}
.elementor-12
  .elementor-element.elementor-element-3600d5b
  > .elementor-widget-container {
  padding: 0px 0px 0px 0px;
}
.elementor-12
  .elementor-element.elementor-element-0c261ab
  > .elementor-element-populated {
  padding: 0px 15px 0px 15px;
}
.elementor-12
  .elementor-element.elementor-element-6411d01.tt-equal-height-enable,
.elementor-12
  .elementor-element.elementor-element-6411d01.tt-equal-height-enable
  .elementor-widget-container,
.elementor-12
  .elementor-element.elementor-element-6411d01.tt-equal-height-enable
  .tt-icon-box {
  height: 100%;
}
.elementor-12 .elementor-element.elementor-element-6411d01 .tt-icon-box {
  text-align: left;
  padding: 40px 30px 40px 30px;
  border-radius: 15px 15px 15px 15px;
  border-style: solid;
  border-width: 2px 2px 2px 2px;
  border-color: #bf4b4b;
}
.elementor-12
  .elementor-element.elementor-element-6411d01
  .tt-icon-box__icon-container {
  background-color: #f25767;
  border-color: #f25767;
  font-size: 25px;
  padding: 15px;
}
.elementor-12
  .elementor-element.elementor-element-6411d01
  .tt-icon-box__icon-container
  i {
  transform: rotate(0deg);
}
.elementor-12 .elementor-element.elementor-element-6411d01 .tt-icon-box:hover {
  background-color: #ffffff;
  border-style: solid;
  border-color: #ffffff;
  box-shadow: 0px 40px 40px 0px rgba(0, 0, 0, 0.1);
  transform: translateY(-5px);
}
.elementor-12
  .elementor-element.elementor-element-0e57fc8
  > .elementor-element-populated {
  padding: 0px 15px 0px 15px;
}
.elementor-12
  .elementor-element.elementor-element-51fcfc1.tt-equal-height-enable,
.elementor-12
  .elementor-element.elementor-element-51fcfc1.tt-equal-height-enable
  .elementor-widget-container,
.elementor-12
  .elementor-element.elementor-element-51fcfc1.tt-equal-height-enable
  .tt-icon-box {
  height: 100%;
}
.elementor-12 .elementor-element.elementor-element-51fcfc1 .tt-icon-box {
  text-align: left;
  padding: 40px 30px 40px 30px;
  border-radius: 15px 15px 15px 15px;
  border-style: solid;
  border-width: 2px 2px 2px 2px;
  border-color: #e5e5e5;
}
.elementor-12
  .elementor-element.elementor-element-51fcfc1
  .tt-icon-box__icon-container {
  background-color: #237418;
  border-color: #237418;
  font-size: 25px;
  padding: 15px;
}
.elementor-12
  .elementor-element.elementor-element-51fcfc1
  .tt-icon-box__icon-container
  i {
  transform: rotate(0deg);
}
.elementor-12 .elementor-element.elementor-element-51fcfc1 .tt-icon-box:hover {
  background-color: #ffffff;
  border-style: solid;
  border-color: #ffffff;
  box-shadow: 0px 40px 40px 0px rgba(0, 0, 0, 0.1);
  transform: translateY(-5px);
}
.elementor-12
  .elementor-element.elementor-element-51fcfc0.tt-equal-height-enable,
.elementor-12
  .elementor-element.elementor-element-51fcfc0.tt-equal-height-enable
  .elementor-widget-container,
.elementor-12
  .elementor-element.elementor-element-51fcfc0.tt-equal-height-enable
  .tt-icon-box {
  height: 100%;
}
.elementor-12 .elementor-element.elementor-element-51fcfc0 .tt-icon-box {
  text-align: left;
  padding: 40px 30px 40px 30px;
  border-radius: 15px 15px 15px 15px;
  border-style: solid;
  border-width: 2px 2px 2px 2px;
  border-color: #bf4b4b;
}
.elementor-12
  .elementor-element.elementor-element-51fcfc0
  .tt-icon-box__icon-container {
  background-color: #0b163f;
  border-color: #0b163f;
  font-size: 25px;
  padding: 15px;
}
.elementor-12
  .elementor-element.elementor-element-51fcfc0
  .tt-icon-box__icon-container
  i {
  transform: rotate(0deg);
}
.elementor-12 .elementor-element.elementor-element-51fcfc0 .tt-icon-box:hover {
  background-color: #ffffff;
  border-style: solid;
  border-color: #ffffff;
  box-shadow: 0px 40px 40px 0px rgba(0, 0, 0, 0.1);
  transform: translateY(-5px);
}
.elementor-12
  .elementor-element.elementor-element-a6b0dc4
  > .elementor-container {
  max-width: 1200px;
}
.elementor-12
  .elementor-element.elementor-element-a6b0dc4:not(.elementor-motion-effects-element-type-background),
.elementor-12
  .elementor-element.elementor-element-a6b0dc4
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: #f8f9fa;
}
.elementor-12 .elementor-element.elementor-element-a6b0dc4 {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  padding: 0px 0px 90px 0px;
}
.elementor-12
  .elementor-element.elementor-element-a6b0dc4
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-12
  .elementor-element.elementor-element-d42c81e
  > .elementor-element-populated {
  margin: 0px 0px 30px 0px;
  --e-column-margin-right: 0px;
  --e-column-margin-left: 0px;
  padding: 0px 15px 0px 15px;
}
.elementor-12
  .elementor-element.elementor-element-1c1060d
  > .elementor-element-populated {
  margin: 0px 0px 0px 0px;
  --e-column-margin-right: 0px;
  --e-column-margin-left: 0px;
  padding: 0px 15px 0px 15px;
}
.elementor-12 .elementor-element.elementor-element-715e705 .tt-promo {
  background: #ceddff;
}
.elementor-12
  .elementor-element.elementor-element-715e705
  > .elementor-widget-container {
  padding: 0px 0px 0px 0px;
}
.elementor-12
  .elementor-element.elementor-element-bc8353d
  > .elementor-container {
  max-width: 1200px;
}
.elementor-12
  .elementor-element.elementor-element-bc8353d
  > .elementor-container
  > .elementor-column
  > .elementor-widget-wrap {
  align-content: center;
  align-items: center;
}
.elementor-12 .elementor-element.elementor-element-bc8353d {
  padding: 120px 0px 115px 0px;
}
.elementor-12
  .elementor-element.elementor-element-b1c220a
  > .elementor-element-populated {
  padding: 0px 15px 0px 15px;
}
.elementor-12 .elementor-element.elementor-element-3bf4ec7 .section-heading {
  text-align: left;
  margin-bottom: -8px;
}
.elementor-12
  .elementor-element.elementor-element-3bf4ec7
  .tt-icon-box__icon-container
  i {
  transform: rotate(0deg);
}
.elementor-12 .elementor-element.elementor-element-39bc223 {
  padding: 0px 0px 0px 0px;
}
.elementor-12
  .elementor-element.elementor-element-c78e7e7
  > .elementor-element-populated {
  padding: 0px 0px 0px 0px;
}
.elementor-12 .elementor-element.elementor-element-2681b0a .tt__list li i {
  font-size: 14px;
}
.elementor-12 .elementor-element.elementor-element-2681b0a .tt__list li svg {
  width: 14px;
}
.elementor-12 .elementor-element.elementor-element-7b35a13 .tt__list li i {
  font-size: 14px;
}
.elementor-12 .elementor-element.elementor-element-7b35a13 .tt__list li svg {
  width: 14px;
}
.elementor-12
  .elementor-element.elementor-element-a086e86
  .tt-btn
  .elementor-align-icon-right {
  margin-left: 8px;
}
.elementor-12
  .elementor-element.elementor-element-a086e86
  .tt-btn
  .elementor-align-icon-left {
  margin-right: 8px;
}
.elementor-12 .elementor-element.elementor-element-a086e86 a.tt-btn,
.elementor-12 .elementor-element.elementor-element-a086e86 .tt-btn {
  padding: 0px 0px 0px 0px;
}
.elementor-12 .elementor-element.elementor-element-a086e86 .tt-btn {
  background-color: #02010100;
  border-style: solid;
  border-width: 0px 0px 0px 0px;
}
.elementor-12 .elementor-element.elementor-element-a086e86 .tt-btn:hover {
  color: #175cff;
}
.elementor-12
  .elementor-element.elementor-element-a086e86
  > .elementor-widget-container {
  margin: 11px 0px 0px 0px;
}
.elementor-12
  .elementor-element.elementor-element-eda1e59
  > .elementor-element-populated {
  padding: 0px 15px 0px 15px;
}
.elementor-12 .elementor-element.elementor-element-ed94c52 {
  text-align: center;
}
.elementor-12
  .elementor-element.elementor-element-727a1aa
  > .elementor-container {
  max-width: 1200px;
}
.elementor-12
  .elementor-element.elementor-element-727a1aa
  > .elementor-container
  > .elementor-column
  > .elementor-widget-wrap {
  align-content: center;
  align-items: center;
}
.elementor-12 .elementor-element.elementor-element-727a1aa {
  padding: 58px 0px 110px 0px;
}
.elementor-12
  .elementor-element.elementor-element-7fa15b1
  > .elementor-element-populated {
  padding: 0px 15px 0px 15px;
}
.elementor-12 .elementor-element.elementor-element-ffcd5b6 {
  text-align: center;
}
.elementor-12
  .elementor-element.elementor-element-917e5f3
  > .elementor-element-populated {
  padding: 0px 15px 0px 40px;
}
.elementor-12 .elementor-element.elementor-element-ca6dde1 .section-heading {
  text-align: left;
}
.elementor-12
  .elementor-element.elementor-element-ca6dde1
  .tt-icon-box__icon-container {
  background-color: #0b163f;
  border-color: #0b163f;
}
.elementor-12
  .elementor-element.elementor-element-ca6dde1
  .tt-icon-box__icon-container
  i {
  transform: rotate(0deg);
}
.elementor-12
  .elementor-element.elementor-element-234287c
  .tt-btn
  .elementor-align-icon-right {
  margin-left: 8px;
}
.elementor-12
  .elementor-element.elementor-element-234287c
  .tt-btn
  .elementor-align-icon-left {
  margin-right: 8px;
}
.elementor-12 .elementor-element.elementor-element-234287c a.tt-btn,
.elementor-12 .elementor-element.elementor-element-234287c .tt-btn {
  padding: 0px 0px 0px 0px;
}
.elementor-12 .elementor-element.elementor-element-234287c .tt-btn {
  background-color: #02010100;
  border-style: solid;
  border-width: 0px 0px 0px 0px;
}
.elementor-12 .elementor-element.elementor-element-234287c .tt-btn:hover {
  color: #175cff;
}
.elementor-12
  .elementor-element.elementor-element-234287c
  > .elementor-widget-container {
  margin: -2px 0px 0px 0px;
}
.elementor-12
  .elementor-element.elementor-element-431d23c
  > .elementor-container {
  max-width: 1200px;
}
.elementor-12
  .elementor-element.elementor-element-431d23c:not(.elementor-motion-effects-element-type-background),
.elementor-12
  .elementor-element.elementor-element-431d23c
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: transparent;
  background-image: linear-gradient(90deg, #021048 0%, #1e38a3 100%);
}
.elementor-12 .elementor-element.elementor-element-431d23c {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  padding: 110px 0px 120px 0px;
}
.elementor-12
  .elementor-element.elementor-element-431d23c
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-12
  .elementor-element.elementor-element-fb05443
  > .elementor-element-populated {
  margin: 0px 0px 0px 0px;
  --e-column-margin-right: 0px;
  --e-column-margin-left: 0px;
  padding: 0px 15px 0px 15px;
}
.elementor-12 .elementor-element.elementor-element-46d1f5f .section-heading {
  text-align: center;
}
.elementor-12
  .elementor-element.elementor-element-46d1f5f
  .section-heading
  .section-title {
  color: #ffffff;
}
.elementor-12
  .elementor-element.elementor-element-46d1f5f
  .section-heading
  .subtitle {
  color: #ffb116;
}
.elementor-12
  .elementor-element.elementor-element-46d1f5f
  .section-heading
  .description,
.elementor-12
  .elementor-element.elementor-element-46d1f5f
  .section-heading
  .description
  p {
  color: #ffffff87;
}
.elementor-12
  .elementor-element.elementor-element-46d1f5f
  > .elementor-widget-container {
  margin: 0px 0px 30px 0px;
}
.elementor-12 .elementor-element.elementor-element-1d4cd46 .tab-name {
  color: #ffffff;
}
.elementor-12
  .elementor-element.elementor-element-1d4cd46
  #tt-tabs-nav
  li
  a
  .tab-designation {
  color: #d6d5e1;
}
.elementor-12 .elementor-element.elementor-element-1d4cd46 #tt-tabs-nav li {
  background-color: #ffffff0d;
  border-style: solid;
  border-width: 1px 1px 1px 1px;
  border-color: #6565651a;
}
.elementor-12
  .elementor-element.elementor-element-1d4cd46
  #tt-tabs-nav
  li.active
  .tab-name {
  color: #ffffff;
}
.elementor-12
  .elementor-element.elementor-element-1d4cd46
  #tt-tabs-nav
  li.active {
  background-color: #ffffff1a;
  border-style: solid;
  border-color: #6565650f;
}
.elementor-12
  .elementor-element.elementor-element-1d4cd46
  .tabs-content
  .title {
  color: #ffffff;
}
.elementor-12 .elementor-element.elementor-element-1d4cd46 .tt-tabs-wrapper p {
  color: #ffffff91;
}
.elementor-12
  .elementor-element.elementor-element-1d4cd46
  .tt-tabs-wrapper
  .author-info
  .name {
  color: #ffffff;
}
.elementor-12
  .elementor-element.elementor-element-1d4cd46
  .tt-tabs-wrapper
  .author-info
  .designation {
  color: #ffffff78;
}
.elementor-12
  .elementor-element.elementor-element-e29ae06
  > .elementor-container {
  max-width: 1200px;
}
.elementor-12 .elementor-element.elementor-element-e29ae06 {
  padding: 110px 0px 120px 0px;
}
.elementor-12
  .elementor-element.elementor-element-6bf9285
  > .elementor-element-populated {
  padding: 0px 0px 0px 0px;
}
.elementor-12 .elementor-element.elementor-element-c01a489 .section-heading {
  text-align: center;
  margin-bottom: 33px;
}
.elementor-12
  .elementor-element.elementor-element-f08adcc
  > .elementor-container {
  max-width: 1200px;
}
.elementor-12
  .elementor-element.elementor-element-f08adcc
  > .elementor-container
  > .elementor-column
  > .elementor-widget-wrap {
  align-content: center;
  align-items: center;
}
.elementor-12
  .elementor-element.elementor-element-b820caa
  > .elementor-element-populated {
  padding: 0px 15px 0px 15px;
}
.elementor-12 .elementor-element.elementor-element-de12d41 img {
  border-radius: 15px 15px 15px 15px;
}
.elementor-12
  .elementor-element.elementor-element-6db2fe4
  > .elementor-element-populated {
  padding: 0px 15px 0px 50px;
}
.elementor-12
  .elementor-element.elementor-element-c8477de
  > .elementor-container {
  max-width: 1200px;
}
.elementor-12 .elementor-element.elementor-element-c8477de {
  padding: 27px 0px 90px 0px;
}
.elementor-12
  .elementor-element.elementor-element-40b55c2
  > .elementor-element-populated {
  padding: 0px 0px 0px 0px;
}
.elementor-12 .elementor-element.elementor-element-1f363f2 .section-heading {
  text-align: center;
  margin-bottom: 33px;
}
.elementor-12
  .elementor-element.elementor-element-82aed61
  > .elementor-container {
  max-width: 1200px;
}
.elementor-12 .elementor-element.elementor-element-82aed61 {
  margin-top: 0px;
  margin-bottom: 50px;
}
.elementor-12
  .elementor-element.elementor-element-5e51611
  > .elementor-element-populated {
  padding: 0px 15px 0px 15px;
}
.elementor-12
  .elementor-element.elementor-element-2678a7e
  > .elementor-element-populated {
  padding: 0px 15px 0px 15px;
}
.elementor-12
  .elementor-element.elementor-element-57358cf.tt-equal-height-enable,
.elementor-12
  .elementor-element.elementor-element-57358cf.tt-equal-height-enable
  .elementor-widget-container,
.elementor-12
  .elementor-element.elementor-element-57358cf.tt-equal-height-enable
  .tt-icon-box {
  height: 100%;
}
.elementor-12
  .elementor-element.elementor-element-57358cf
  .tt-icon-box__icon-container {
  color: #175cff;
  background-color: #ceddff;
  border-color: #ceddff;
  font-size: 22px;
  padding: 15px;
}
.elementor-12
  .elementor-element.elementor-element-57358cf
  .tt-icon-box__icon-container
  i {
  transform: rotate(0deg);
}
.elementor-12
  .elementor-element.elementor-element-57358cf
  .tt-icon-box
  .tt-icon-box__title {
  font-size: 16px;
  font-weight: 500;
}
.elementor-12 .elementor-element.elementor-element-57358cf .tt-icon-box__title {
  margin-bottom: 0px;
}
.elementor-12
  .elementor-element.elementor-element-57d16f8
  > .elementor-element-populated {
  padding: 0px 15px 0px 15px;
}
.elementor-12
  .elementor-element.elementor-element-ec0691d.tt-equal-height-enable,
.elementor-12
  .elementor-element.elementor-element-ec0691d.tt-equal-height-enable
  .elementor-widget-container,
.elementor-12
  .elementor-element.elementor-element-ec0691d.tt-equal-height-enable
  .tt-icon-box {
  height: 100%;
}
.elementor-12
  .elementor-element.elementor-element-ec0691d
  .tt-icon-box__icon-container {
  color: #5cc9a7;
  background-color: #def4ed;
  border-color: #def4ed;
  font-size: 22px;
  padding: 15px;
}
.elementor-12
  .elementor-element.elementor-element-ec0691d
  .tt-icon-box__icon-container
  i {
  transform: rotate(0deg);
}
.elementor-12
  .elementor-element.elementor-element-ec0691d
  .tt-icon-box
  .tt-icon-box__title {
  font-size: 16px;
  font-weight: 500;
}
.elementor-12 .elementor-element.elementor-element-ec0691d .tt-icon-box__title {
  margin-bottom: 0px;
}
.elementor-12
  .elementor-element.elementor-element-32d06bd
  > .elementor-element-populated {
  padding: 0px 15px 0px 15px;
}
.elementor-12
  .elementor-element.elementor-element-2b6ad5a.tt-equal-height-enable,
.elementor-12
  .elementor-element.elementor-element-2b6ad5a.tt-equal-height-enable
  .elementor-widget-container,
.elementor-12
  .elementor-element.elementor-element-2b6ad5a.tt-equal-height-enable
  .tt-icon-box {
  height: 100%;
}
.elementor-12
  .elementor-element.elementor-element-2b6ad5a
  .tt-icon-box__icon-container {
  color: #f25767;
  background-color: #fcdde1;
  border-color: #fcdde1;
  font-size: 22px;
  padding: 15px;
}
.elementor-12
  .elementor-element.elementor-element-2b6ad5a
  .tt-icon-box__icon-container
  i {
  transform: rotate(0deg);
}
.elementor-12
  .elementor-element.elementor-element-2b6ad5a
  .tt-icon-box
  .tt-icon-box__title {
  font-size: 16px;
  font-weight: 500;
}
.elementor-12 .elementor-element.elementor-element-2b6ad5a .tt-icon-box__title {
  margin-bottom: 0px;
}
.elementor-12
  .elementor-element.elementor-element-78a7ccd
  > .elementor-element-populated {
  padding: 0px 15px 0px 15px;
}
.elementor-12
  .elementor-element.elementor-element-b66ca32
  > .elementor-container {
  max-width: 1200px;
}
.elementor-12 .elementor-element.elementor-element-b66ca32 {
  padding: 0px 0px 0px 0px;
}
.elementor-12
  .elementor-element.elementor-element-47953c1
  > .elementor-element-populated {
  margin: 0px 0px 30px 0px;
  --e-column-margin-right: 0px;
  --e-column-margin-left: 0px;
  padding: 0px 15px 0px 15px;
}
.elementor-12
  .elementor-element.elementor-element-ec60cfd
  > .elementor-element-populated {
  margin: 0px 0px 30px 0px;
  --e-column-margin-right: 0px;
  --e-column-margin-left: 0px;
  padding: 0px 15px 0px 15px;
}
.elementor-12
  .elementor-element.elementor-element-abd818b
  > .elementor-element-populated {
  padding: 0px 15px 0px 15px;
}
.elementor-12
  .elementor-element.elementor-element-f6dea87
  > .elementor-container {
  max-width: 1200px;
}
.elementor-12
  .elementor-element.elementor-element-f6dea87:not(.elementor-motion-effects-element-type-background),
.elementor-12
  .elementor-element.elementor-element-f6dea87
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: #f8f9fa;
}
.elementor-12 .elementor-element.elementor-element-f6dea87 {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  padding: 110px 0px 110px 0px;
}
.elementor-12
  .elementor-element.elementor-element-f6dea87
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-12
  .elementor-element.elementor-element-ab5efc2
  > .elementor-element-populated {
  padding: 0px 0px 0px 0px;
}
.elementor-12 .elementor-element.elementor-element-e7b4577 .section-heading {
  text-align: center;
  margin-bottom: 33px;
}
.elementor-12
  .elementor-element.elementor-element-c326d07
  > .elementor-container {
  max-width: 1200px;
}
.elementor-12
  .elementor-element.elementor-element-56bf355
  > .elementor-element-populated {
  padding: 0px 50px 0px 15px;
}
.elementor-12
  .elementor-element.elementor-element-2a7d037
  > .elementor-element-populated {
  padding: 0px 15px 0px 15px;
}
.elementor-12
  .elementor-element.elementor-element-f2124e1
  > .elementor-container {
  max-width: 1320px;
}
.elementor-12
  .elementor-element.elementor-element-f2124e1
  > .elementor-container
  > .elementor-column
  > .elementor-widget-wrap {
  align-content: center;
  align-items: center;
}
.elementor-12 .elementor-element.elementor-element-f2124e1 {
  padding: 100px 0px 60px 0px;
}
.elementor-12
  .elementor-element.elementor-element-cbca902
  > .elementor-element-populated {
  padding: 0px 0px 0px 0px;
}
.elementor-12
  .elementor-element.elementor-element-445f16f
  > .elementor-element-populated {
  padding: 0px 0px 0px 0px;
}
.elementor-12 .elementor-element.elementor-element-4f6f0fd .section-heading {
  text-align: center;
}
.elementor-12
  .elementor-element.elementor-element-4f6f0fd
  .section-heading
  .section-title {
  font-size: 37px;
}
.elementor-12
  .elementor-element.elementor-element-e3a93ed
  > .elementor-element-populated {
  padding: 0px 0px 0px 0px;
}
.elementor-12
  .elementor-element.elementor-element-3347751
  > .elementor-container {
  max-width: 1200px;
}
.elementor-12
  .elementor-element.elementor-element-51deffb
  > .elementor-element-populated {
  padding: 0px 0px 0px 0px;
}
.elementor-12
  .elementor-element.elementor-element-0d5754d
  > .elementor-container {
  max-width: 1200px;
}
.elementor-12 .elementor-element.elementor-element-0d5754d {
  padding: 20px 0px 90px 0px;
}
.elementor-12
  .elementor-element.elementor-element-0269eab
  > .elementor-element-populated {
  padding: 0px 15px 0px 15px;
}
.elementor-12
  .elementor-element.elementor-element-1cfdb15.tt-equal-height-enable,
.elementor-12
  .elementor-element.elementor-element-1cfdb15.tt-equal-height-enable
  .elementor-widget-container,
.elementor-12
  .elementor-element.elementor-element-1cfdb15.tt-equal-height-enable
  .tt-icon-box {
  height: 100%;
}
.elementor-12 .elementor-element.elementor-element-1cfdb15 .tt-icon-box {
  text-align: left;
  padding: 40px 40px 40px 40px;
  border-radius: 15px 15px 15px 15px;
  border-style: solid;
  border-width: 2px 2px 2px 2px;
  border-color: #6565651a;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0);
}
.elementor-12
  .elementor-element.elementor-element-1cfdb15
  .tt-icon-box__icon-container {
  background-color: #ffffff;
  border-color: #ffffff;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.12);
  font-size: 40px;
  padding: 14px;
}
.elementor-12
  .elementor-element.elementor-element-1cfdb15
  .tt-icon-box__icon-container
  i {
  transform: rotate(0deg);
}
.elementor-12
  .elementor-element.elementor-element-b42b3b7
  > .elementor-element-populated {
  padding: 0px 15px 0px 15px;
}
.elementor-12
  .elementor-element.elementor-element-508c4f9.tt-equal-height-enable,
.elementor-12
  .elementor-element.elementor-element-508c4f9.tt-equal-height-enable
  .elementor-widget-container,
.elementor-12
  .elementor-element.elementor-element-508c4f9.tt-equal-height-enable
  .tt-icon-box {
  height: 100%;
}
.elementor-12 .elementor-element.elementor-element-508c4f9 .tt-icon-box {
  text-align: left;
  padding: 40px 40px 40px 40px;
  border-radius: 15px 15px 15px 15px;
  border-style: solid;
  border-width: 2px 2px 2px 2px;
  border-color: #6565651a;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0);
}
.elementor-12
  .elementor-element.elementor-element-508c4f9
  .tt-icon-box__icon-container {
  background-color: #ffffff;
  border-color: #ffffff;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.12);
  font-size: 40px;
  padding: 14px;
}
.elementor-12
  .elementor-element.elementor-element-508c4f9
  .tt-icon-box__icon-container
  i {
  transform: rotate(0deg);
}
.elementor-12 .elementor-element.elementor-element-508c4f9 .tt-icon-box__badge {
  color: #f25767;
  background-color: #fcdde1;
}
.elementor-12
  .elementor-element.elementor-element-9b311fa
  > .elementor-container {
  max-width: 1200px;
}
.elementor-12 .elementor-element.elementor-element-9b311fa {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  padding: 0px 0px 120px 0px;
}
.elementor-12
  .elementor-element.elementor-element-9b311fa
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-12
  .elementor-element.elementor-element-446f227:not(.elementor-motion-effects-element-type-background)
  > .elementor-widget-wrap,
.elementor-12
  .elementor-element.elementor-element-446f227
  > .elementor-widget-wrap
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: #021048;
  background-image: url("https://quiety-wp.themetags.com/wp-content/uploads/2021/10/cta-bg.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.elementor-12
  .elementor-element.elementor-element-446f227
  > .elementor-element-populated,
.elementor-12
  .elementor-element.elementor-element-446f227
  > .elementor-element-populated
  > .elementor-background-overlay,
.elementor-12
  .elementor-element.elementor-element-446f227
  > .elementor-background-slideshow {
  border-radius: 20px 20px 20px 20px;
}
.elementor-12
  .elementor-element.elementor-element-446f227
  > .elementor-element-populated {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  padding: 115px 50px 110px 50px;
}
.elementor-12
  .elementor-element.elementor-element-446f227
  > .elementor-element-populated
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-12 .elementor-element.elementor-element-7a17fb4 .section-heading {
  text-align: center;
  margin-bottom: 30px;
}
.elementor-12
  .elementor-element.elementor-element-7a17fb4
  .section-heading
  .section-title {
  color: #ffffff;
}
.elementor-12
  .elementor-element.elementor-element-7a17fb4
  .section-heading
  .subtitle {
  color: #ffb116;
}
.elementor-12
  .elementor-element.elementor-element-7a17fb4
  .section-heading
  .description,
.elementor-12
  .elementor-element.elementor-element-7a17fb4
  .section-heading
  .description
  p {
  color: #ffffffb8;
}
.elementor-12
  .elementor-element.elementor-element-ed9afe7
  .tt-button-container {
  text-align: center;
}
.elementor-12 .elementor-element.elementor-element-ed9afe7 .tt-button-primary {
  margin-right: 15px;
}
.elementor-12
  .elementor-element.elementor-element-ed9afe7
  .tt-block
  .tt-button-primary {
  margin-bottom: 15px;
}
.elementor-12 .elementor-element.elementor-element-ed9afe7 .play-button {
  color: #ffffff;
}
.elementor-12 .elementor-element.elementor-element-ed9afe7 .play-button i {
  background-color: #02010100;
  border-style: solid;
  border-color: #ffffff78;
}
.elementor-12 .elementor-element.elementor-element-ed9afe7 .play-button:hover i,
.elementor-12
  .elementor-element.elementor-element-ed9afe7
  .play-button:focus
  i {
  color: #175cff;
  background-color: #ffffff;
}
.elementor-12
  .elementor-element.elementor-element-ed9afe7
  > .elementor-widget-container {
  margin: 0px 0px 3px 0px;
}
.elementor-12 .elementor-element.elementor-element-cbeeda0 .tt__list {
  text-align: center;
}
.elementor-12 .elementor-element.elementor-element-cbeeda0 .tt__list li i {
  color: #ffffff;
  background-color: #ffffff2e;
  font-size: 12px;
}
.elementor-12 .elementor-element.elementor-element-cbeeda0 .tt__list li svg {
  fill: #ffffff;
  width: 12px;
}
.elementor-12 .elementor-element.elementor-element-cbeeda0 .tt__list li,
.elementor-12 .elementor-element.elementor-element-cbeeda0 .tt__list li a {
  color: #ffffffb3;
}
@media (max-width: 1024px) {
  .elementor-12
    .elementor-element.elementor-element-6ba7cfc
    .banner__feature-image {
    margin: 0px -50px 80px 0px;
  }
  .elementor-12 .elementor-element.elementor-element-1ef5f6f {
    padding: 75px 0px 50px 0px;
  }
  .elementor-12 .elementor-element.elementor-element-a6b0dc4 {
    padding: 30px 0px 50px 0px;
  }
  .elementor-12 .elementor-element.elementor-element-bc8353d {
    padding: 80px 0px 75px 0px;
  }
  .elementor-12
    .elementor-element.elementor-element-b1c220a
    > .elementor-element-populated {
    margin: 50px 0px 0px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
  }
  .elementor-12 .elementor-element.elementor-element-727a1aa {
    padding: 0px 0px 70px 0px;
  }
  .elementor-12
    .elementor-element.elementor-element-917e5f3
    > .elementor-element-populated {
    margin: 50px 0px 0px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
    padding: 0px 15px 0px 15px;
  }
  .elementor-12 .elementor-element.elementor-element-431d23c {
    padding: 70px 0px 80px 0px;
  }
  .elementor-12 .elementor-element.elementor-element-e29ae06 {
    padding: 75px 0px 50px 0px;
  }
  .elementor-12
    .elementor-element.elementor-element-6db2fe4
    > .elementor-element-populated {
    margin: 50px 0px 0px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
    padding: 0px 15px 0px 15px;
  }
  .elementor-12 .elementor-element.elementor-element-f6dea87 {
    padding: 75px 0px 75px 0px;
  }
  .elementor-12
    .elementor-element.elementor-element-e7b4577
    > .elementor-widget-container {
    padding: 0px 15px 0px 15px;
  }
  .elementor-12 .elementor-element.elementor-element-f2124e1 {
    padding: 80px 0px 0px 0px;
  }
  .elementor-12
    .elementor-element.elementor-element-cbca902
    > .elementor-element-populated {
    padding: 0px 15px 0px 15px;
  }
  .elementor-12
    .elementor-element.elementor-element-4f6f0fd
    .section-heading
    .section-title {
    font-size: 30px;
  }
  .elementor-12
    .elementor-element.elementor-element-e3a93ed
    > .elementor-element-populated {
    padding: 0px 15px 0px 15px;
  }
  .elementor-12 .elementor-element.elementor-element-3347751 {
    padding: 80px 0px 0px 0px;
  }
  .elementor-12 .elementor-element.elementor-element-0d5754d {
    padding: 0px 0px 50px 0px;
  }
  .elementor-12 .elementor-element.elementor-element-9b311fa {
    padding: 0px 0px 80px 0px;
  }
  .elementor-12
    .elementor-element.elementor-element-446f227
    > .elementor-element-populated {
    margin: 0px 15px 0px 15px;
    --e-column-margin-right: 15px;
    --e-column-margin-left: 15px;
  }
}
@media (max-width: 767px) {
  .elementor-12
    .elementor-element.elementor-element-6ba7cfc
    .banner__feature-image {
    margin: 0px 0px 80px 0px;
  }
  .elementor-12
    .elementor-element.elementor-element-5a27276
    > .elementor-widget-container {
    padding: 0px 15px 0px 15px;
  }
  .elementor-12
    .elementor-element.elementor-element-3500d6b
    > .elementor-widget-container {
    margin: 0px 0px 40px 0px;
  }
  .elementor-12
    .elementor-element.elementor-element-3500d5b
    > .elementor-widget-container {
    margin: 0px 0px 40px 0px;
  }
  .elementor-12
    .elementor-element.elementor-element-6411d01
    > .elementor-widget-container {
    margin: 0px 0px 40px 0px;
  }
  .elementor-12
    .elementor-element.elementor-element-5bdd294
    > .elementor-element-populated {
    padding: 0px 0px 0px 0px;
  }
  .elementor-12
    .elementor-element.elementor-element-7b35a13
    > .elementor-widget-container {
    padding: 0px 0px 0px 0px;
  }
  .elementor-12
    .elementor-element.elementor-element-c01a489
    > .elementor-widget-container {
    padding: 0px 15px 0px 15px;
  }
  .elementor-12
    .elementor-element.elementor-element-1f363f2
    > .elementor-widget-container {
    padding: 0px 15px 0px 15px;
  }
  .elementor-12
    .elementor-element.elementor-element-2678a7e
    > .elementor-element-populated {
    margin: 0px 0px 20px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
  }
  .elementor-12
    .elementor-element.elementor-element-57d16f8
    > .elementor-element-populated {
    margin: 0px 0px 20px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
  }
  .elementor-12
    .elementor-element.elementor-element-e7b4577
    > .elementor-widget-container {
    padding: 0px 15px 0px 15px;
  }
  .elementor-12
    .elementor-element.elementor-element-56bf355
    > .elementor-element-populated {
    padding: 0px 15px 0px 15px;
  }
  .elementor-12
    .elementor-element.elementor-element-2a7d037
    > .elementor-element-populated {
    margin: 40px 0px 0px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
  }
  .elementor-12
    .elementor-element.elementor-element-cbca902
    > .elementor-element-populated {
    margin: 0px 0px 40px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
  }
  .elementor-12
    .elementor-element.elementor-element-4f6f0fd
    > .elementor-widget-container {
    padding: 0px 15px 0px 15px;
  }
  .elementor-12
    .elementor-element.elementor-element-e3a93ed
    > .elementor-element-populated {
    margin: 40px 0px 0px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
  }
  .elementor-12 .elementor-element.elementor-element-3347751 {
    padding: 0px 0px 0px 0px;
  }
  .elementor-12 .elementor-element.elementor-element-0d5754d {
    margin-top: 50px;
    margin-bottom: 0px;
  }
  .elementor-12
    .elementor-element.elementor-element-446f227
    > .elementor-element-populated {
    padding: 75px 30px 70px 30px;
  }
}
@media (min-width: 768px) {
  .elementor-12 .elementor-element.elementor-element-b1c220a {
    width: 45%;
  }
  .elementor-12 .elementor-element.elementor-element-eda1e59 {
    width: 55%;
  }
  .elementor-12 .elementor-element.elementor-element-b820caa {
    width: 45%;
  }
  .elementor-12 .elementor-element.elementor-element-6db2fe4 {
    width: 55%;
  }
  .elementor-12 .elementor-element.elementor-element-40b55c2 {
    width: 100%;
  }
  .elementor-12 .elementor-element.elementor-element-5e51611 {
    width: 12.5%;
  }
  .elementor-12 .elementor-element.elementor-element-2678a7e {
    width: 25%;
  }
  .elementor-12 .elementor-element.elementor-element-57d16f8 {
    width: 25%;
  }
  .elementor-12 .elementor-element.elementor-element-32d06bd {
    width: 25%;
  }
  .elementor-12 .elementor-element.elementor-element-78a7ccd {
    width: 12.5%;
  }
  .elementor-12 .elementor-element.elementor-element-cbca902 {
    width: 30%;
  }
  .elementor-12 .elementor-element.elementor-element-445f16f {
    width: 40%;
  }
  .elementor-12 .elementor-element.elementor-element-e3a93ed {
    width: 29.332%;
  }
}
@media (max-width: 1024px) and (min-width: 768px) {
  .elementor-12 .elementor-element.elementor-element-b1c220a {
    width: 100%;
  }
  .elementor-12 .elementor-element.elementor-element-eda1e59 {
    width: 100%;
  }
  .elementor-12 .elementor-element.elementor-element-7fa15b1 {
    width: 100%;
  }
  .elementor-12 .elementor-element.elementor-element-917e5f3 {
    width: 100%;
  }
  .elementor-12 .elementor-element.elementor-element-b820caa {
    width: 100%;
  }
  .elementor-12 .elementor-element.elementor-element-6db2fe4 {
    width: 100%;
  }
  .elementor-12 .elementor-element.elementor-element-2678a7e {
    width: 33.33%;
  }
  .elementor-12 .elementor-element.elementor-element-57d16f8 {
    width: 33.33%;
  }
  .elementor-12 .elementor-element.elementor-element-32d06bd {
    width: 33.33%;
  }
  .elementor-12 .elementor-element.elementor-element-47953c1 {
    width: 50%;
  }
  .elementor-12 .elementor-element.elementor-element-ec60cfd {
    width: 50%;
  }
  .elementor-12 .elementor-element.elementor-element-abd818b {
    width: 50%;
  }
}
